# Ignore everything by default.
*.*

# Game content.
!*.mdl
!*.phy
!*.vtx
!*.vvd
!*.wav

# Scripts and stuff.
!*.sp
!*.inc
!*.phrases.txt
!*.games.txt
!*.cfg
!*.sh
!*.bat

# Git stuff.
!LICENSE.md
!README.md
!.gitignore
!*.yml

# Don't commit data from staged builds.
/__STAGING__/
